<!-- Login Form -->
<section id="login">
  <h2>Login.</h2>
  <h3>don't forget to send your reminders...</h3>
  <br>
  <form action="/login" method="post">
    <dl>
      <dt>
        <label for="username">Username</label>
      </dt>
      <dd>
        <input name="username" placeholder="Seneca" type="text" value="">
      </dd>

      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input name="password" placeholder="secret" type="text" value="">
      </dd>
    </dl>

    <fieldset class="actions ">
      <input type="submit" value="Login">
    </fieldset>
  </form>
  <br>
  <h3>...wait, maybe we can remind you of that...</h3>
</section>

