<!-- user registration submission -->
<section id="registration">
  <h2>Register.</h2>
  <h3>send forgetful people friendly reminders ;)</h3>
  <br>
  <form action="/register" method="post">
    <dl>
      <!-- user info -->
      <dt>
        <label for="username">Username</label>
      </dt>
      <dd>
        <input name="username" placeholder="Seneca" type="text" value="">
      </dd>

      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input name="password" placeholder="secret" type="text" value="">
      </dd>
    </dl>

    <!-- Add new user -->
    <fieldset class="actions ">
      <input type="submit" value="Register">
    </fieldset>
  </form>
</section>
<!--end user registration submission-->  
