<!-- Update User Info-->
<section class="update" id="user_info">
  <h2>&bull; Your Info &bull;</h2>
  <!-- Update Password -->
  <form action="/update_user_info/password" method="post">
    <dl>
      <dt>
        <label for="password">Password:</label>
      </dt>
      <dd>
        <input name="password" placeholder="secret" type="text" value="">
      </dd>
    </dl>

    <fieldset class="actions">
      <input type="submit" value="Update">
    </fieldset>
  </form>

  <!-- Update Email -->
  <form action="/update_user_info/email" method="post">
    <dl>
      <dt>
        <label for="email">Email:</label>
      </dt>
      <dd>
        <input name="email" placeholder="seneca@stoic.com" type="text" value="">
      </dd>
    </dl>

    <fieldset class="actions">
      <input type="submit" value="Update">
    </fieldset>
  </form>


  <!-- Update Phone -->
  <form action="/update_user_info/phone" method="post">
    <dl>
      <dt>
        <label for="phone">Phone:</label>
      </dt>
      <dd>
        <input name="phone" placeholder="555 555 5555" type="text" value="">
      </dd>
    </dl>

    <fieldset class="actions">
      <input type="submit" value="Update">
    </fieldset>
  </form>
</section>

<!-- Update Lover -->
<section class="update" id="lover_info">
  <h2>&bull; Lover Info &bull;</h2>
  <form action="/update_user_info/lover" method="post">
    <dl>
      <dt>
        <label for="lover_name">Name:</label>
      </dt>
      <dd>
        <input name="lover_name" placeholder="Seneca" type="text" value="">
      </dd>

      <dt>
        <label for="lover_phone">Phone:</label>
      </dt>
      <dd>
        <input name="lover_phone" placeholder="XOX OXO XOXO" type="text" value="">
      </dd>
    </dl>

    <fieldset class="actions">
      <input type="submit" value="Update">
    </fieldset>
  </form>
</section>

