<article>
  <h2>&bull; Easy Reminders for Distributed Workforces &bull; </h2>

  <ol>
    <li>Create an account</li>
    <li>Set up your reminder... And forget it!</li>
    <li>Our web bot sends your message.</li>
  </ol>
</article>

<article>
  <h2>&bull; Our Founder &bull;</h2> 
  <h3>Michael Mentele</h3>

  <img src="">

  <p>Michael is a full stack web developer building smart web apps to make the world a smarter place.</p>
</article>
